.h2 .col {
    color: white;
}
.card {
    color: white;
}
.h5 {
    color: white;
}
.bi {
    background-color: gold;
    width: auto;
    position: relative;
    height: 150px;
    width: 150px;
}
.text {
    color: white;
    text-decoration: none;
    
    z-index: 3;
}